<div class="bg-gray-300">
    <div class="container mx-auto mt-8">
        <h2 class="text-3xl font-bold mb-5 text-center p-3">Nossos Produtos em Ofertas</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 m-5 mb-8 p-9 ">
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://www.calitta.com/2672-thickbox_default/camisa-casual-cinza-manga-longa-casaul-de-botoes-slim-fit-masculina.jpg"
                        alt="Roupa 1"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4 ">
                    <h3 class="text-lg font-semibold">Camisa Casual Masculina</h3>
                    <p class="text-gray-500">R$ 99,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://itapua.vteximg.com.br/arquivos/ids/4067724-1000-1000/image-91db342806ff4ee0bdcbc5d5daf564c8.jpg?v=638658225975000000"
                        alt="Sapato 1"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Tênis Esportivo fino</h3>
                    <p class="text-gray-500">R$ 199,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://cdn.awsli.com.br/600x1000/1699/1699621/produto/2244252706077083305.jpg"
                        alt="Calça 1"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Calça Jeans Feminina</h3>
                    <p class="text-gray-500">R$ 149,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://a-static.mlcdn.com.br/800x560/moletom-blusa-de-frio-unissex-algodao-confortavel-com-bolso-e-capuz-urso-iths-worht-suprass/conqueroficial/moletom-0262-branco-gg/b1dae3d9972c59a979f0a24b587864f2.jpeg"
                        alt="Roupa 2"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Blusa de Frio Unissex</h3>
                    <p class="text-gray-500">R$ 89,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://img.irroba.com.br/fit-in/600x600/filters:fill(fff):quality(80)/rilufash/catalog/ref03-white-a.jpg"
                        alt="Tênis 2"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4 m">
                    <h3 class="text-lg font-semibold ">Tênis Casual</h3>
                    <p class="text-gray-500">R$ 159,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://www.calitta.com/20806-thickbox_default/camisa-masculina-floral-moda-plus-size-verao-manga-curta-de-botao.jpg"
                        alt="Blusa 1"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Blusa de Verão Masculina</h3>
                    <p class="text-gray-500">R$ 79,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_668408-MLB41848705545_052020-O.webp" alt="Tênis 3"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">Tênis de Corrida</h3>
                    <p class="text-gray-500">R$ 199,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
            <div class="bg-white rounded-lg shadow-md overflow-hidden">
                <a href="#" class="block">
                    <img src="https://http2.mlstatic.com/D_NQ_NP_2X_977466-MLB53805811824_022023-F-kit-4-camisetas-blusinha-tshirt-feminina-manga-longa.webp"
                        alt="Blusa 2"
                        class="w-full h-90 object-cover transition duration-300 ease-in-out hover:opacity-80" />
                </a>
                <div class="p-4">
                    <h3 class="text-lg font-semibold">4 kit blusas longas femininas</h3>
                    <p class="text-gray-500">R$ 129,90</p>
                    <BlazorE_commerce.BotaoComponente.Botaocompras />
                </div>
            </div>
        </div>
    </div>
</div>
@code {

}
