<div class="bg-gray-100 p-5">
    <div class=" bg-white p-8 rounded-lg">
        <h2 class="text-2xl font-bold mb-6">Formulário de Endereço</h2>
        <div class="mb-4">
            <label for="cep" class="block text-sm font-medium text-gray-700">CEP</label>
            <input id="cep" class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                placeholder="Digite seu CEP" />
        </div>

        <div class="mb-4">
            <label for="rua" class="block text-sm font-medium text-gray-700">Rua</label>
            <input id="rua" class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Rua" />
        </div>

        <div class="mb-4">
            <label for="numero" class="block text-sm font-medium text-gray-700">Número</label>
            <input id="numero" class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Número" />
        </div>

        <div class="mb-4">
            <label for="bairro" class="block text-sm font-medium text-gray-700">Bairro</label>
            <input id="bairro" class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Bairro" />
        </div>

        <div class="mb-4">
            <label for="cidade" class="block text-sm font-medium text-gray-700">Cidade</label>
            <input id="cidade" class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Cidade" />
        </div>

        <div class="mb-4">
            <label for="estado" class="block text-sm font-medium text-gray-700">Estado</label>
            <input id="estado" class="mt-1 block w-full border border-gray-300 rounded-md p-2" placeholder="Estado" />
        </div>

        <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 cursor-pointer">
            Enviar
        </button>


    </div>
</div>
