
    <li>
        <a href="@Caminho" class="text-gray-500 dark:text-gray-400 hover:text-blue-600 dark:hover:text-blue-500">@Titulo</a>
    </li>


@code {
    [Parameter]
    public string Caminho { get; set; } = null!;
    [Parameter]
    public string Titulo { get; set; } = null!;
}