<div class="bg-white rounded-lg shadow-md overflow-hidden">
    <img src="imagens/camisa1.jpeg"
        alt="Camisa Casual Masculina"
        class=" h-64 object-cover transition duration-300 ease-in-out hover:opacity-80" />
    <div class="p-4">
        <h3 class="text-lg font-semibold">Camisa Casual Masculina</h3>
        <p class="text-gray-500">R$ 99,90</p>
        <BlazorE_commerce.Componentes.Botaocompras />
    </div>
</div>

<div class="bg-white rounded-lg shadow-md overflow-hidden">
    <img src="imagens/camisa2.jpeg"
        alt="Blusa de Verão Masculina"
        class=" h-64 object-cover transition duration-300 ease-in-out hover:opacity-80" />
    <div class="p-4">
        <h3 class="text-lg font-semibold">Blusa de Verão Masculina</h3>
        <p class="text-gray-500">R$ 79,90</p>
        <BlazorE_commerce.Componentes.Botaocompras />
    </div>
</div>


