
<div class="bg-white rounded-lg shadow-md overflow-hidden">
    <img src="imagens/camisa_feminina2.jpeg"
        alt="Calça Jeans Feminina"
        class="h-64 object-cover transition duration-300 ease-in-out hover:opacity-80" />
    <div class="p-4">
        <h3 class="text-lg font-semibold">Calça Nike Feminina</h3>
        <p class="text-gray-500">R$ 149,90</p>
        <BlazorE_commerce.Componentes.Botaocompras />
    </div>
</div>

<div class="bg-white rounded-lg shadow-md overflow-hidden">
    <img src="imagens/Camisa_feminina1.jpeg"
        alt="Blusa de Frio Unissex"
        class="h-64 object-cover transition duration-300 ease-in-out hover:opacity-80" />
    <div class="p-4">
        <h3 class="text-lg font-semibold">Blusa de Frio Unissex</h3>
        <p class="text-gray-500">R$ 89,90</p>
        <BlazorE_commerce.Componentes.Botaocompras />
    </div>
</div>


<div class="bg-white rounded-lg shadow-md overflow-hidden">
    <img src="imagens/conjuntosnike4.jpeg"
        alt="Kit 4 Blusas Longas Femininas"
        class=" h-64 object-cover transition duration-300 ease-in-out hover:opacity-80" />
    <div class="p-4">
        <h3 class="text-lg font-semibold">Conjunto feminino</h3>
        <p class="text-gray-500">R$ 129,90</p>
        <BlazorE_commerce.Componentes.Botaocompras />
    </div>
</div>
