
   <footer class="mt-5 text-center w-full">
            <a class="text-sm text-indigo-500 hover:underline cursor-pointer" href="/">@Titulo</a>
        </footer>

@code{
  [Parameter]
    public string Titulo { get; set; } = "Pagina Inicial";
}