@page "/Ajuda"

<PageTitle>Ajuda</PageTitle>

<div class="flex flex-col items-center justify-center h-screen bg-gray-100">
    <div class="bg-white rounded-lg shadow-lg p-6 max-w-2xl w-full">
        <h1 class="text-3xl font-bold mb-4">Como podemos ajudar?</h1>
        <p class="mb-4">Aqui estão algumas perguntas frequentes e informações úteis para ajudá-lo a navegar em nosso site:</p>

        <h2 class="text-2xl font-semibold mt-6 mb-2">Perguntas Frequentes</h2>
        <ul class="list-disc list-inside mb-4">
            <li><strong>Como faço para criar uma conta?</strong> Você pode criar uma conta clicando no botão "Crie sua conta" no menu.</li>
            <li><strong>Como faço para resetar minha senha?</strong> Clique em "Esqueceu a senha?" na página de login e siga as instruções.</li>
            <li><strong>Como posso entrar em contato com o suporte?</strong> Você pode nos contatar através da página de contato.</li>
        </ul>

        <h2 class="text-2xl font-semibold mt-6 mb-2">Informações de Contato</h2>
        <p>Se você tiver mais perguntas, sinta-se à vontade para entrar em contato conosco:</p>
        <p>Email: <a href="mailto:support@ecommerce.com" class="text-blue-600 hover:underline">vinirz17@gmail.com</a></p>
        <p>Telefone: <span class="text-gray-800">+55 32 98871-4960</span></p>
    </div>
      <BlazorE_commerce.Componentes.Voltarpaginainicial/>
</div>
